{% extends 'base.html' %}
{% block title %}Add new training session page{% endblock %}

{% block content %}

<div id="main_content">
    <h2>Create a new training session <a href="" name="addsession" onclick=showHelp(name)>?</a></h2>

    {% if saveresult %}
    <div id="resultbox">{{saveresult}}</div>
    {% endif %}

    <button id="start" onclick="startCreating()">Start creating</button>
    <form id="session_form" style="display:none;" method="POST">
        <!-- CYBER SECURITY FIX 5 (remove the following line comment to fix): send csrf token along with the data -->
        <!--{% csrf_token %}-->
        <label for="moves">Select move:</label>
        <select id="moves" name="moves">
            {% for move in move_list %}
                <option value="{{move.id}}">{{move.move_name}}</option>
            {% endfor %}
        </select>
        <br />
        <label for="reps">Reps:</label>
        <input type="number" min="0" value="0" name="reps" id="reps">
        <br />
        <label for="weights">Weights (kg):</label>
        <input type="number"  min="0" value="0" name="weights" id="weights">
        <br />
        <input type="submit" name="save_one_set" value="Add set">
        
        {% if session_id %}
        <input type="submit" name="save_complete_session" value="Save workout session">
        {% endif %}
    </form>

</div>
{% endblock %}