{% extends 'base.html' %}
{% block title %}Moves index page{% endblock %}
{% block content %}
<h2>Moves index page</h2>
<p>
    This app can be used to build your own gym training database. You can add moves to the database,
    explore the moves you have already saved, track your training by adding completed training sessions, 
    and search for sessions completed on a specific date.
</p>
<p>
    Instructions for each function can be found on their dedicated pages. Just click on the question mark next to the page header for tips!
</p>
<ul>
    <li><a href='/moves/allmoves/'>All moves</a></li>
    <li><a href='/moves/addmove/'>Add move</a></li>
    <li><a href='/moves/addsession/'>Add training session</a></li>
    <li><a href='/moves/searchsessions/'>Search for sessions</a></li>
</ul>
{% endblock %}