{% extends 'base.html' %}
{% load static %}
{% block title %}Search for sessions page{% endblock %}

{% block content %}

<div id="main_content">
        {% if messages %}
        <div id="resultbox">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    <h2>Search for sessions in database <a href="" name="searchsessions" onclick=showHelp(name)>?</a></h2>
    <form action="" method="GET">
        {% if user.is_superuser %}
        <input type="hidden" name="admin" value="1">
        {% else %}
        <input type="hidden" name="admin" value="0">
        {% endif %}
        Workout session date: <input type="date" name="session_date">
        <input type="submit" value="Search" name="search_by_date">
    </form>
    <!--
        CYBER SECURITY FIX 3: Use POST method to search for sessions. Remove the form above that uses GET and use the following form instead. Note the csrf token to post!
        <form action="" method="POST">
            {% csrf_token %}
            Workout session date: <input type="date" name="session_date"><br />
            <input type="submit" value="Search" name="search_by_date">
        </form>
    -->
    <ul>
        {% for session in sessions %}
        <li>{{session.owner}} {{session.date}}
            <!--
                CYBER SECURITY FIX 3 (remove comments to fix): Check if user is admin in the template, no need to pass url parameters to server.
                {% if user.is_superuser %}
                    <a href="{% url 'deletesession' id=session.id %}">Delete session</a>
                {% endif %}
            -->
            
            <!-- CYBER SECURITY FIX 3 (remove the following check and link to fix): no need to provide delete links based on url parameters. -->
            {% if admin %}
                <!--The url tag contains deletesession which is the _name_ we have defined in urls.py-->
                <a href="{% url 'deletesession' id=session.id %}">Delete session</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>



    <h2>My latest session</h2>
        {% if latest_session %}
        Session {{latest_session.id}} complete: {{latest_session.ended}} ({{latest_session.date}})<br />
        <ul>            
            {% for set in session_sets %}
                <li>{{set.move_id}}: {{set.reps}} * {{set.weight}} kg</li>
            {% endfor %}
        </ul>
        {% else %}
        You haven't entered any training sessions to the database!
        {% endif %}

</div>
{% endblock %}